#!/usr/bin/env bash

_path_prepend() {
    if [ -n "$2" ]; then
        case ":$(eval "echo \$$1"):" in
            *":$2:"*) :;;
            *) eval "export $1=$2$(eval "echo \${$1:+\":\$$1\"}")" ;;
            # *) eval "export $1=$2:$(eval "echo \$$1")" ;;
        esac
    else
        case ":$PATH:" in
            *":$1:"*) :;;
            *) export PATH="$1${PATH:+":$PATH"}" ;;
            # *) export PATH="$1:$PATH" ;;
        esac
    fi
}

_path_prepend PATH "$PETSC_DIR/lib/petsc/bin"

# _path_prepend CINCLUDE_DIR "$PETSC_DIR/include/petsc/finclude"
# _path_prepend LDLIBRARY_PATH "$PETSC_DIR/lib/"
